.back{
    background-image: url('/public/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0px; */
    /* background-position-y: -370px; */
    
}
box
{
}