@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  45% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  95% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  100%{width: 0;}
}
@keyframes typing1 {
  0% { width: 0; }
  50% { width: 100%; }
  90% { width: 100%; }
  100%{width: 0;}
}
/* @keyframes blink {
  from { border-right-color: transparent; }
  to { border-right-color: black; }
} */
